 <div class="user-details">
  <h1> My Skillset </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Expertise</h2>
      <img class="profile-image" src="/assets/img/photon.png" style="width:75px;height:75px;" />
      <img class="profile-image" src="/assets/img/VContainer.png" style="width:75px;height:75px;" />
      <img class="profile-image" src="/assets/img/speedtree.png" style="width:75px;height:75px;" />
      <p>Ryan has 7+ years of Unity experience, and has exceedingly vast knowledge of hundreds of Unity addons, including Photon, 'Unity Netcode for GameObjects', VContainer, Animancer, SpeedTree, and much, much more!</p>
    </div>
    <div class="tech">
      <h2>Development</h2>
      <i class="devicon-unity-plain colored"></i>
      <i class="devicon-rider-plain colored"></i>
      <p>Ryan comes bundled with Rider, his main development tool when writing C# for Unity. He is also compatible with VSCode and Visual Studio Community. </p>
    </div>
    <div class="tech">
      <h2>Management</h2>
      <i class="devicon-jira-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-slack-plain colored"></i>
      <p>Ryan has 4+ years of professional codebase management under his belt. Jira, GIT, and Plastic SCM are a second nature to him. He thrives working with groups as a leader and as a team member on Slack, but is also capable of working solo.</p>
    </div>
</div>
