<div id="particles-js">
    <div class="header">
        <div class="header-container">
            <h1>
                <span class="site-title">Ryan Reiss</span>
                <span class="site-description">Unity Engineer</span>
            </h1>
            <div>
                <img class="profile-image" src="/assets/img/profile.png" style="width:310px;height:300px;" />
            </div>
            <div class="header-icons">
                <a aria-label="Send email" href="mailto:rreiss1208@gmail.com"><i class="icon fa fa-envelope"></i></a>
                <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/ryanreiss/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
                <a aria-label="My Github" target="_blank" href="https://github.com/RyanReiss/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            </div>
            <div class="header-links">
                <a class="link" href="#about" data-scroll>My Skillset</a>
                <a class="link" href="#projects" data-scroll>Projects</a>
                <a class="link" href="#testimonials" data-scroll>Testimonials</a>
                <a class="link" href="/assets/pdf/Ryan_Reiss_Resume.pdf" download>Download Resume</a>
            </div>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
