<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="project">
        <div class="image">
            <img alt="mountains" src="{{ "/assets/img/bellum.jpg" | prepend: site.baseurl }}" />
        </div>
        <div class="content">
            <h3> Bellumentum </h3>
            <ul>
                <li> Lead Unity Engineer</li>
            </ul>
            <p>Tweaking Cat Studio's first shipped project, Bellumentum. Ryan was a founding member of the team and worked for two years to create Bellumentum as half of the engineering team. He worked closely with art, animation, and design teams to ship the game.</p>
            <a class="project-link" href="https://store.steampowered.com/app/2781910/Bellumentum/">Check it out on Steam</a>
        </div>
    </div>
    <div class="project reverse-layout">
        <div class="content">
            <h3> Save Da Frogs </h3>
            <ul>
                <li> Solo Developer</li>
            </ul>
            <p>Initially a way for him to learn how to create multiplayer games during lockdown in 2020, Save Da Frogs is a passion project for Ryan. While not yet released, the game is almost complete, and you can check out the game on Steam for more info!</p>
            <a class="project-link" href="https://store.steampowered.com/app/1847350/Save_Da_Frogs/">Check it out on Steam</a>
        </div>
        <div class="image">
            <img alt="mountains" src="{{ "/assets/img/frogz.jpg" | prepend: site.baseurl }}" />
        </div>
    </div>
</div>
